<nav class="menu">
    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">

    <label for="menu-checkbox" class="menu__icon"><img class="menu__hamburger" src="/images/icon-hamburger.svg" alt="Ikona rozbalovacího menu"></label>

    <div class="menu__list">
        <a class="menu__item" href="/">ÚVOD</a>
        <a class="menu__item" href="/blog/">KREATIVNÍ BLOG</a>
        <a class="menu__item" href="/nabidka/">NABÍDKA</a>
        <a class="menu__item" href="/o-mne/">O MNĚ</a>
        <a class="menu__item" href="/kontakt/">KONTAKT</a>
    </div>
</nav>