---
layout: layouts/template-for-index.njk
title: creazy.cz - Blog o kreativitě
---

    <section>
        <div>
            <a class="article__anchor" href="/blog/">Zpět</a>
        </div>
        
        <article class="article">
            <div>
                <h2 class="article__name">{{ title }}</h2>
            </div>
    
            <div class="article__container">

                <div class="article__photo">
                    <img class="article_photo" src="/images/{{ photo }}" alt="{{ alt }}">
                </div>
                <div class="article__about">
    
                    <p class="article__text">{{ perex }}</p>
    
                    {{ content | safe }}
    
                </div>
            </div>

        </article>
        <div>
            <a class="article__anchor" href="/blog/">Zpět</a>
        </div>
    </section>